<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello ejs</title>
  </head>
  <body>
    <div id="root"><%- initialContent -%></div>
  </body>
  <script src="/bundle.js"></script>
</html>
